<br><br><br><br><br><br>
<div class="wrapper">
    <div class="section profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                <h3>Modifier un groupe :</h3><br><br>
                <div class="row price-row">
                    <div class="col-md-4">
                        <h6>Filiale / Spécialité <span class="icon-danger">*</span></h6>
                        <div class="input-group border-input">
                            <input type="text" value="" placeholder="Classe ou filiale" class="form-control border-input">
                        </div>
                    </div>
                    <div class="col-md-4">
                      <h6>Spécialité <span class="icon-danger">*</span></h6>                            
                      <div class="input-group border-input">
                            <input type="text" value="" placeholder="Spécialité" class="form-control border-input">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h6>Niveau d'études<span class="icon-danger">*</span></h6>                            
                        <div class="input-group border-input">
                              <input type="number" value="" placeholder="Niveau d'études" class="form-control border-input">
                          </div>
                    </div>
                </div><br><br>
                <div class="row price-row">
                  <div class="col-md-4">
                      <h6>Année universitaire <span class="icon-danger">*</span></h6>
                      <div class="input-group border-input">
                          <input type="number" min="2000" max="2099" step="1" value="2018" class="form-control border-input"/>                    </div>
                  </div>
                  <div class="col-md-4">
                    <h6>Numéro du groupe <span class="icon-danger">*</span></h6>
                    <div class="input-group border-input">
                        <input type="number" value="" placeholder="Numéro du groupe" class="form-control border-input">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h6>Nom du groupe <span class="icon-danger">*</span></h6>
                    <div class="input-group border-input">
                        <input type="text" value="" placeholder="Nom du groupe" class="form-control border-input">
                    </div>
                  </div>
              </div>
              </div>
            </div>
            <br><br><br><br>
            <div class="text-center">
                  <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i>Mettre à jour les données</button>
              </div>
        </div>
    </div>
  </div>
  