<div class="main">
  <div class="section section-white section-search">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-12 ml-auto mr-auto text-center">
                <br><br><br>
                  <div class="text-missing">
                      <h5 class="text-muted">Les demandes de papiers : </h5>
                  </div><br><br><br><br>
                  <ul class="list-unstyled follows">
                      <li>
                          <div class="row">
                              <div class="col-md-2 col-3">
                                  <img src="../assets/img/placeholder.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                              </div>
                              <div class="col-md-6 col-4 description">
                                  <h5>Walid Braham<br>
                                  <small>Attestation de présence</small>
                                  </h5>
                              </div>
                              <div class="col-md-2 col-2">
                                  <button class="btn btn-just-icon btn-round btn-outline-danger btn-tooltip" rel="tooltip" title="détails"><i class="fa fa-plus"></i></button>
                              </div>
                          </div>
                      </li>
                  </ul>
                  <!--<div class="text-missing">
                      <h5 class="text-muted">If you are not finding who you’re looking for try using an email address. </h5>
                  </div>-->
              </div>
          </div>
      </div>
  </div>
</div>