<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                  <div class="avatar">
                    <img src="./assets/img/placeholder.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                  <div class="name">
                      <h4 class="title">Nom & Prénom<br /></h4>
                      <h6 class="matricule">Matricule</h6>
                      <h6 class="description">Classe</h6>
                    </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                      <br><br>
                      <h3>Demande de paperasses :</h3><br><br>
                      <div class="row price-row">
                          <div class="col-md-6">
                              <h6>Type de papiers <span class="icon-danger">*</span></h6>
                              <div class="input-group border-input">
                                  <form>
                                  <div class="form-group">
                                      <select name="huge" style="width: 550px" class="form-control" data-style="btn-default btn-block btn-round" data-menu-style="dropdown-blue">
                                        <option value="id">Attestation de présence</option>
                                        <option value="ms">Certificat d'inscription</option>
                                        <option value="ca">Relevé de notes</option>
                                        <option value="da">Attestation de réussite</option>
                                        <option value="de">Demande de stage de fin d'études</option>
                                        <option value="es">Demande de stage d'été</option>
                                      </select>
                                  </div>  
                                  </form>                            
                                </div>
                          </div>
                          <div class="col-md-6">
                            <h6>Nombre de copies <span class="icon-danger">*</span></h6>                            
                            <div class="input-group border-input">
                                  <input type="number" value="" placeholder="1" class="form-control border-input">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <br><br><br><br>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">            
                <button class="btn btn-outline-info btn-round">Envoyer la demande</button>
            </div>
            </div>
        </div>
    </div>
  </div>
  