<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/uriel-soberanes.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Le réseau social des étudiants Tunisiens</h1>
            <h3>Des milliers d'étudiants utilisent Classroom pour trouver les ressources dont ils ont besoin et entrer en contact avec leurs professeurs.</h3>
            <br />
            <button [routerLink]="['/schools-signup']" type="button" class="btn btn-outline-neutral btn-round">Je suis une école</button>
            <button [routerLink]="['/teachers-signup']" type="button" class="btn btn-outline-neutral btn-round">Je suis un professeur</button>
            <button [routerLink]="['/students-signup']" type="button" class="btn btn-outline-neutral btn-round">Je suis un étudiant</button>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mr-auto ml-auto">
                <img width="400" height="400" src="../../assets/img/collaborate_more.png">
            </div>
            <div class="col-md-6 mr-auto ml-auto">
                <h2 class="title">Classroom c'est votre école centralisée.</h2>
                <h5 class="description">Utilisez Classroom pour réunir tous les outils que vous aimez déjà et pour permettre à vos étudiants d’avoir accès à tout ce dont ils ont besoin pour apprendre.</h5>
                <br>
                <a [routerLink]="['/learnmore']" class="btn btn-danger btn-round">Plus de détails</a>
            </div>
        </div>
        <br/><br/>
    </div>
</div>

    <div class="section section-gray text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mr-auto ml-auto">
                    <h2 class="title">Le meilleur endroit pour trouver vos cours</h2>
                    <h5 class="description">Avec déjà plus de 60 millions de ressources partagées sur notre plateforme, vous pouvez trouver votre prochain cours en quelques minutes. Ou encore, entrez en contact avec vos professeurs et camarades de classe pour développer votre communauté d'apprentissage.</h5>
                    <br>
                    <a [routerLink]="['/learnmore']" class="btn btn-danger btn-round">Plus de détails</a>
                </div>
                <div class="col-md-6 mr-auto ml-auto">
                    <img width="400" height="400" src="../../assets/img/find_more.png">
                </div>
            </div>
            <br/><br/>
        </div>
    </div>

<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../../assets/img/school.png" alt="..."></a>
                    </div><br>
                    <div class="card-block">
                            <div class="author">
                                <h4 class="card-title">Curieux de savoir comment on fait ?</h4>
                                <br><div class="mr-auto ml-auto">
                                        <button class="btn btn-danger btn-lg btn-fill" [routerLink]="['/login']">Connectez-vous!</button>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
