<div class="main">
    <div class="section section-white section-search">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12 ml-auto mr-auto text-center">
                  <br><br><br>
                    <div class="text-missing">
                        <h5 class="text-muted">Les Groupes : </h5>
                    </div><br><br>
                    <ul class="list-unstyled follows" *ngFor="let group of myGroups">
                        <li>
                            <div class="row">
                                <div class="col-md-2 col-3">
                                    <img src="../assets/img/placeholder.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                </div>
                                <div class="col-md-6 col-6 description">
                                    <h5>{{group.split('$#')[0]}}<br>
                                    <small>{{group.split('$#')[1]}} - {{group.split('$#')[2]}}eme année</small>
                                    </h5>
                                </div>
                                <li class="nav-item ">
                                    <div ngbDropdown class="dropdown" placement="bottom-left">
                                    <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-settings" aria-hidden="true"></i></a>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger dropdown-menu-right">
                                                <a class="dropdown-item" (click)="modifyGroup()">Modifier</a>
                                                <a class="dropdown-item" (click)="supprimerGroup()">Supprimer</a>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </li>
                    </ul>
                    <br><br><br><br>
                    <div class="text-missing">
                        <h5 class="text-muted">Les professeurs : </h5>
                    </div>
                    <br>
                  <ul class="list-unstyled follows">
                      <li>
                          <div class="row">
                              <div class="col-md-2 col-3">
                                  <img src="../assets/img/placeholder.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                              </div>
                              <div class="col-md-6 col-4 description">
                                  <h5>Imed Boudriga<br>
                                  <small>imed.boudriga@polytecsousse.tn</small>
                                  </h5>
                              </div>
                              <li class="nav-item ">
                                  <div ngbDropdown class="dropdown" placement="bottom-left">
                                  <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-settings" aria-hidden="true"></i></a>
                                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger dropdown-menu-right">
                                              <a class="dropdown-item" [routerLink]="['/profile']">Afficher</a>
                                              <a class="dropdown-item" [routerLink]="['/settings']">Modifier</a>
                                              <a class="dropdown-item">Supprimer</a>
                                      </div>
                                  </div>
                              </li>
                          </div>
                      </li>
                  </ul>
                  <br><br><br><br>
                  <div class="text-missing">
                      <h5 class="text-muted">Les étudiants : </h5>
                  </div>
                  <br>
                <ul class="list-unstyled follows">
                    <li>
                        <div class="row">
                            <div class="col-md-2 col-3">
                                <img src="../assets/img/placeholder.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div>
                            <div class="col-md-6 col-4 description">
                                <h5>Walid Braham<br>
                                <small>walid.braham@outlook.com</small><br>
                                <small>Génie Informatique - 5eme année</small>
                                </h5>
                            </div>
                            <div class="col-md-2 col-2">
                                <li class="nav-item ">
                                    <div ngbDropdown class="dropdown" placement="bottom-left">
                                    <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-settings" aria-hidden="true"></i></a>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger dropdown-menu-right">
                                                <a class="dropdown-item" [routerLink]="['/profile']">Afficher</a>
                                                <a class="dropdown-item" [routerLink]="['/settings']">Modifier</a>
                                                <a class="dropdown-item">Supprimer</a>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div>
                    </li>
                </ul>
          </div>
        </div>
    </div>
  </div>
</div>