<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/damir-bosnjak.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="title">Classroom pour les étudiants</h3>
                                <h5>Si votre école ou université utilise notre plateforme,
                                    connectez-vous avec votre email et votre numéro de carte étudiant ou consultez l'adminsitration de votre ecole.
                                </h5>
                            <div class="forgot">
                                <a [routerLink]="['/login']" class="btn btn-link btn-danger">Connectez-vous</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="footer register-footer text-center">
                    <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Walid Braham</h6>
                </div>-->
            </div>
    </div>
  </div>
  