<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
      <div class="filter"></div>
  </div>
  <div class="section profile-content">
      <div class="container">
          <div class="owner">
              <div class="avatar">
                  <img src="./assets/img/placeholder.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
              <div class="name">
                  <h4 class="title">Nom Ecole<br /></h4>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                  <p>Ville. </p>
                  <br />
              </div>
              <div class="col-md-12 col-sm-12">
              <h3>Ajouter un étudiant :</h3><br><br>
              <div class="row price-row">
                  <div class="col-md-4">
                      <h6>Nom et Prénom <span class="icon-danger">*</span></h6>
                      <div class="input-group border-input">
                          <input type="text" value="" placeholder="Nom et prénom de l'étudiant" class="form-control border-input">
                      </div>
                  </div>
                  <div class="col-md-4">
                    <h6>Spécialité <span class="icon-danger">*</span></h6>                            
                    <div class="input-group border-input">
                            <form>
                            <div class="form-group">
                                <select name="huge" style="width: 550px" class="form-control" data-style="btn-default btn-block btn-round" data-menu-style="dropdown-blue">
                                  <option value="id">Liste spécialités</option>
                                </select>
                            </div>  
                            </form>                            
                          </div>
                  </div>
                  <div class="col-md-4">
                      <h6>Groupe<span class="icon-danger">*</span></h6>                            
                      <div class="input-group border-input">
                            <form>
                            <div class="form-group">
                                <select name="huge" style="width: 550px" class="form-control" data-style="btn-default btn-block btn-round" data-menu-style="dropdown-blue">
                                  <option value="id">Liste groupes</option>
                                </select>
                            </div>  
                            </form>                            
                          </div>
                  </div>
              </div><br><br>
              <div class="row price-row">
                <div class="col-md-4">
                    <h6>Date de naissance<span class="icon-danger">*</span></h6>
                    <div class="input-group border-input">
                        <input type="date" value="" placeholder="Date de naissance" class="form-control border-input">
                    </div>
                </div>
                <div class="col-md-4">
                  <h6>Email <span class="icon-danger">*</span></h6>
                  <div class="input-group border-input">
                      <input type="email" value="" placeholder="Email étudiant" class="form-control border-input">
                  </div>
                </div>
                <div class="col-md-4">
                    <h6>Matricule<span class="icon-danger">*</span></h6>                            
                    <div class="input-group border-input">
                          <input type="text" value="" placeholder="Matricule étudiant" class="form-control border-input">
                      </div>
                </div>
            </div>
            </div>
          </div>
          <br><br><br><br>
          <div class="text-center">
                <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i>Ajouter</button>
          </div>
      </div>
  </div>
</div>
