<nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['/teacher-dashboard']">Classroom</a>
      <button class="navbar-toggler navbar-toggler-right burger-menu" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar-menu-icon">
          <ul class="navbar-nav">
                    <!--<li class="nav-item ">
                        <div ngbDropdown class="dropdown" placement="bottom-left">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Rejoindre un groupe</a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger dropdown-menu-right">
                                <div class="input-group border-input">
                                    <input type="password" value="" placeholder="Code du groupe" class="form-control border-input">
                                </div>
                            </div>
                        </div>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/comptes-rendus']">
                            Comptes rendus
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/mes-messages']">
                            Messages
                        </a>
                    </li>
              <li class="nav-item ">
                  <div ngbDropdown class="dropdown" placement="bottom-left">
                  <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-settings-gear-65" aria-hidden="true"></i></a>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger dropdown-menu-right">
                            <a class="dropdown-item" [routerLink]="['/settings']">Parametres</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" [routerLink]="['/landing']">Déconnexion</a>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</nav>
