<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
      <div class="filter"></div>
  </div>
  <div class="section profile-content">
      <div class="container">
          <div class="owner">
              <div class="avatar">
                  <img src="./assets/img/placeholder.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
              <div class="name">
                  <h4 class="title">{{ admin_uni_name }}<br /></h4>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12">
              <h3>Ajouter un groupe :</h3><br><br>
              <form>
              <div class="row price-row">
                  <div class="col-md-6">
                      <h6>Filiale <span class="icon-danger">*</span></h6>
                      <div class="input-group border-input">
                          <input [(ngModel)]="filiale" name="filiale" [ngModelOptions]="{standalone: true}" type="text" placeholder="Classe ou filiale" class="form-control border-input">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <h6>Niveau d'études&nbsp;<span class="icon-danger">*</span></h6>                            
                      <div class="input-group border-input">
                            <input [(ngModel)]="niveau" name="niveau" [ngModelOptions]="{standalone: true}" type="number" placeholder="Niveau d'études" class="form-control border-input">
                        </div>
                  </div>
              </div><br><br>
              <div class="row price-row">
                <div class="col-md-4">
                    <h6>Année universitaire <span class="icon-danger">*</span></h6>
                    <div class="input-group border-input">
                        <input [(ngModel)]="anneeuniversitaire" name="anneeuniversitaire" [ngModelOptions]="{standalone: true}" type="number" min="2000" max="2099" step="1" class="form-control border-input"/>                    </div>
                </div>
                <div class="col-md-4">
                  <h6>Numéro du groupe <span class="icon-danger">*</span></h6>
                  <div class="input-group border-input">
                      <input [(ngModel)]="numerogroupe" name="numerogroupe" [ngModelOptions]="{standalone: true}" type="number"  placeholder="Numéro du groupe" class="form-control border-input">
                  </div>
                </div>
                <div class="col-md-4">
                  <h6>Nom du groupe <span class="icon-danger">*</span></h6>
                  <div class="input-group border-input">
                      <input [(ngModel)]="nomgroupe" name="nomgroupe" [ngModelOptions]="{standalone: true}" type="text" placeholder="Nom du groupe" class="form-control border-input">
                  </div>
                </div>
            </div>
            <br><br><br><br>
            <div class="text-center">
                <button (click)="addGroup()" class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i>Ajouter</button>
            </div>
        </form>
            </div>
      </div>
  </div>
</div>
</div>
