<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/uriel-soberanes.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <h1>Enseignez plus. Apprenez plus.</h1>
          <h3>Des milliers d'enseignants utilisent Classroom pour collaborer avec les élèves, rester en contact avec les autres enseignants et impliquer les parents.</h3>
          <br />
          <button [routerLink]="['/schools-signup']" type="button" class="btn btn-outline-neutral btn-round">Je suis une école</button>
          <button [routerLink]="['/teachers-signup']" type="button" class="btn btn-outline-neutral btn-round">Je suis un professeur</button>
          <button [routerLink]="['/students-signup']" type="button" class="btn btn-outline-neutral btn-round">Je suis un étudiant</button>
      </div>
  </div>
</div>
<div class="main">
  <div class="section section-gray text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-4 mr-auto ml-auto"><br><br>
              <img width="300" height="150" src="../../assets/img/image_classroom.png">
          </div>
          <div class="col-md-8 mr-auto ml-auto">
              <h2 class="title">Concentrez-vous sur l'enseignement, pas sur la paperasse.</h2>
              <h5 class="description">Avec des fonctionnalités intuitives et un stockage illimité, créez rapidement des groupes, donnez des devoirs, programmez des questionnaires, gérez les progrès et bien plus. Avec sa plate-forme unique, Classroom est conçu pour vous donner un contrôle total sur votre classe numérique.</h5>
          </div>
      </div>
  </div>
</div>

  <div class="section section-gray text-center">
      <div class="container">
          <div class="row">
              <div class="col-md-8 mr-auto ml-auto">
                  <h2 class="title">Partagez des ressources instantanément</h2>
                  <h5 class="description">Trouvez et partagez le meilleur contenu éducatif du web. Avec Classroom, cherchez et découvrez des outils, applications et créez des collections de vos ressources préférées. Vous pouvez même mettre en ligne et partager votre propre contenu éducatif.</h5>
              </div>
              <div class="col-md-4 mr-auto ml-auto">
                  <img width="300" height="150" src="../../assets/img/image_spotlight.png">
              </div>
          </div>
          <br/><br/><br/><br/>
          <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <img width="50" height="50" src="../../assets/img/message_icon.png">
                    </div>
                    <div class="description">
                        <h4 class="info-title">Vos messages sont securisés</h4>
                        <p class="description">Messagerie sécurisée et directe pour les enseignants, les étudiants et l'administration.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                        <div class="icon icon-danger">
                            <img width="50" height="50" src="../../assets/img/group-icon.png">
                        </div>
                    <div class="description">
                        <h4 class="info-title">Trouvez facilement vos professeurs</h4>
                        <p>Des milliers d’enseignants utilisent Classroom pour atteindre leurs étudiants, améliorer leurs résultats d’apprentissage et tirer le meilleur parti de leurs plans de cours.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <img width="50" height="50" src="../../assets/img/assignementcenter.png">
                    </div>
                    <div class="description">
                        <h4 class="info-title">Gratuit</h4>
                        <p>Des ressources gratuites, pertinentes pour vous et vos camarades de classe.                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <img width="50" height="50" src="../../assets/img/assignment-1.png">
                    </div>
                    <div class="description">
                        <h4 class="info-title">Devoirs de maison</h4>
                        <p>Téléchargez et envoyez vos devoirs de maison à tout moment depuis votre maison.</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
