<div class="wrapper">
    <div class="page-header page-header-small"  style="background-image: url('../assets/img/bruno-abatti.jpg');">
        <div class="filter"></div>
    </div>
    <div class="profile-content section-white-gray">
        <div class="container">
            <div class="row owner">
                <div class="col-md-6 col-sm-4 col-6 ml-auto mr-auto text-center">
                    <div class="avatar">
                        <img src="../assets/img/placeholder.jpg" alt="Circle Image" class="img-circle img-responsive">
                        <div class="following">
                        </div>
                    </div>
                    <div class="name">
                        <h5>{{ admin_uni_name }}</h5>
                    </div>
                </div>
            </div>
            <div class="profile-tabs">
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" role="tabpanel">
                        <div class="row">
                            <div class="col-md-4">
                                <app-admin-sidebar *ngIf="isAdmin()"></app-admin-sidebar>
                            </div>
                            <div class="col-md-8">
                                    <div class="media media-post">
                                            <a class="pull-left author" href="#">
                                                <div class="avatar">
                                                      <img class="media-object" alt="64x64" src="assets/img/placeholder.jpg">
                                                </div>
                                            </a>
                                            <div class="media-body">
                                                  <textarea class="form-control border-input" placeholder="Ecrivez un message ou uploader un fichier..." rows="6"></textarea>
                                                  <div class="media-footer">
                                                    <a href="#paper-kit" class="btn btn-info btn-wd pull-right">Publier</a>
                                                        <div ng-app="MyApp" ng-controller="AppCtrl" layout-margin layout-padding>
                                                            <input class="ng-hide" id="input-file-id" multiple type="file" />
                                                    </div>
                                                </div>
                                            </div>
                                    </div> <!-- end media-post -->
                                <div class="tweets">
                                    <div class="media">
                                          <a class="pull-left" [routerLink]="['/profile']">
                                           <div class="avatar">
                                                <img class="media-object" src="../assets/img/placeholder.jpg"/>
                                            </div>
                                          </a>
                                          <div class="media-body">
                                            <strong>EPS</strong>
                                            <h5 class="media-heading"><small>@EPS &middot; 1h</small></h5>
                                            <p>It's just beyond the vault. Discover room 7 of the <a href="javascript: void(0);" class="link-danger">#ANTIdiaRy</a> at <a href="" class="link-info">http://smarturl.it/AntidiaRyTW</a></p>
                                            <a href="#paper-kit" class="btn btn-info btn-link pull-right "> <i class="fa fa-reply"></i> Répondre</a>
                                            <div class="media-footer">
                                                <div class="dropdown">
                                                  <ul class="dropdown-menu dropdown-menu-right">
                                                        <li class="dropdown-item">
                                                            <a href="#paper-kit">
                                                                <div class="row">
                                                                    <div class="col-sm-2">
                                                                        <span class="icon-simple"><i class="fa fa-envelope"></i></span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                          </div>
                                          <li class="nav-item pull-right">
                                                <div ngbDropdown class="dropdown">
                                                <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-minimal-down" aria-hidden="true"></i></a>
                                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger dropdown-menu-right">
                                                            <a class="dropdown-item">Editer</a>
                                                            <a class="dropdown-item">Supprimer</a>
                                                    </div>
                                                </div>
                                            </li>
                                    </div> <!-- end media -->
                                    <div class="media">
                                      <a class="pull-left" [routerLink]="['/profile']">
                                          <div class="avatar">
                                             <img class="media-object" alt="Tim Picture" src="../assets/img/placeholder.jpg">
                                          </div>
                                      </a>
                                      <div class="media-body">
                                        <strong>EPS</strong>
                                        <h5 class="media-heading"><small>@EPS &middot;  8 Jan 2016</small></h5>
                                         <p>bitch better have my mistletoe <a href="#paper-kit" class="link-danger">#rihannaxstance</a> </p>
                                         <img src="../assets/img/rihanna_tweet.jpeg" alt="Rounded Image" class="img-rounded img-tweet">
                                         <a href="#paper-kit" class="btn btn-info btn-link pull-right "> <i class="fa fa-reply"></i> Répondre</a>
                                        </div>
                                        <li class="nav-item pull-right">
                                                <div ngbDropdown class="dropdown" placement="bottom-left">
                                                <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-minimal-down" aria-hidden="true"></i></a>
                                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger dropdown-menu-right">
                                                            <a class="dropdown-item">Editer</a>
                                                            <a class="dropdown-item">Supprimer</a>
                                                    </div>
                                                </div>
                                            </li>
                                    </div> <!-- end media -->
                                    <div class="media">
                                      <a class="pull-left" [routerLink]="['/profile']">
                                          <div class="avatar">
                                             <img class="media-object" alt="Tim Picture" src="../assets/img/placeholder.jpg">
                                          </div>
                                      </a>
                                      <div class="media-body">
                                        <strong>EPS</strong>
                                        <h5 class="media-heading"><small>@EPS &middot;  9 Jan 2016</small></h5>
                                         <p>Thank you God for fulfilling Your plans in my life.... All the Glory belongs to You!!!! <a href="https://instagram.com/p/4m5W4sBMzj/">https://instagram.com/p/4m5W4sBMzj/</a> </p>
                                         <a href="#paper-kit" class="btn btn-info btn-link pull-right "> <i class="fa fa-reply"></i> Répondre</a>
                                        <div class="media-footer">
                                            <div class="dropdown">
                                                  <ul class="dropdown-menu dropdown-menu-right">
                                                        <li class="dropdown-item">
                                                            <a href="#paper-kit">
                                                                <div class="row">
                                                                    <div class="col-sm-2">
                                                                        <span class="icon-simple"><i class="fa fa-envelope"></i></span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                        </div>
                                      </div>
                                      <li class="nav-item pull-right">
                                            <div ngbDropdown class="dropdown" placement="bottom-left">
                                            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-minimal-down" aria-hidden="true"></i></a>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger dropdown-menu-right">
                                                        <a class="dropdown-item">Editer</a>
                                                        <a class="dropdown-item">Supprimer</a>
                                                </div>
                                            </div>
                                        </li>
                                    </div> <!-- end media -->
                                    <br />
                                    <div class="text-center">
                                     <button class="btn btn-outline-info btn-round">Charger plus de publications</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane text-center" id="connections" role="tabpanel"></div>

                    <div class="tab-pane" id="media" role="tabpanel"></div>
                </div>

            </div>
        </div>
    </div>
</div>