<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/daniel-olahh.jpg');">
      <div class="filter"></div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-sm-6 ml-auto mr-auto">
                      <div class="card card-register">
                          <h3 class="title">Classroom pour les professeurs</h3>
                          <form class="register-form">
                              <label>Nom complet</label>
                              <input type="text" [(ngModel)]="nomComplet" name ="nomComplet" id="nomComplet" class="form-control" placeholder="Nom complet" [ngModelOptions]="{standalone: true}" >

                              <label>Email</label>
                              <input type="text" [(ngModel)]="email" name ="email" id="email" class="form-control" placeholder="Email" [ngModelOptions]="{standalone: true}">

                              <label>Mot de passe</label>
                              <input type="password" [(ngModel)]="password" name ="password" id="password" class="form-control" placeholder="Mot de passe" [ngModelOptions]="{standalone: true}">

                              <label>Confirmez votre mot de passe</label>
                              <input type="password" [(ngModel)]="password2" name ="password2" id="password2" class="form-control" placeholder="Confirmez votre mot de passe" [ngModelOptions]="{standalone: true}">
                              <button class="btn btn-danger btn-block btn-round" (click)="signUpTeacher()">Inscrivez-vous</button>
                          </form>
                          <div class="forgot">
                              <a [routerLink]="['/login']" class="btn btn-link btn-danger">Déja membre ?</a>
                          </div>
                      </div>
                  </div>
              </div>
              <!--<div class="footer register-footer text-center">
                  <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Walid Braham</h6>
              </div>-->
          </div>
  </div>
</div>
